<div ng-init="main()">
    <alert ng-show="alert" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
    <nav-menu></nav-menu>
    <br><br>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Host name</th>
                    <th>Host ip</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="favoriteLocation in favoriteLocations">
                    <td>{{favoriteLocation.hostname}}</td>
                    <td>{{favoriteLocation.query}}</td>
                    <td>
                        <button ng-click="deleteFavoriteLocation(favoriteLocation)" type="button" class="btn btn-primary btn-xs">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav ng-show="favoriteLocations.length>0&&pageNumber>1">
        <ul class="pagination">
            <li><a href="#" ng-click="prevPage()" class="disabled" ng-class="{disabled: currentPage == 1}">Before</a></li>
            {{currentPage}}/{{pageNumber}}
            <li><a href="#" ng-click="nextPage()" ng-class="{disabled: currentPage == pageNumber}">Next</a></li>
        </ul>
    </nav>
</div>
