.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.red {
    color: red;
}
.close-alert {
    cursor:pointer;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
