<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.1.3</title>
    <link rel="shortcut icon" type="image/png" href="../js/packages/jasmine-2.1.3/jasmine_favicon.png">
    <link rel="stylesheet" href="../js/packages/jasmine-2.1.3/jasmine.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/geolocation.css">
  </head>
  <body class="container">

    <!-- Content -->
    <div class="hidden">
      <h1 id="title">GeoLocation Test</h1>
      <hr/>
      <div id="messageCenter"></div>
      <section id="content" class="container">
        <div class="dashboard row">
          <div class="col-lg-6 col-sm-12">
            <div class="row">
              <h4>Locate yourself</h4>
              <button id="btnGetMyLocation" class="btn btn-default btn-success">Locate me</button>
              <hr/>
            </div>
            <div class="row">
              <h4>Locate a website</h4>
              <form id="formGeoLocation">
                <input id="txtWebsite" type="url" class="form-control website" required value="http://" name="website" />
                <input class="btn btn-success" type="submit" value="Locate website" />
              </form>
              <hr/>
            </div>
            <div class="row">
              <h4>Reset</h4>
              <button id="btnResetLocation" class="btn btn-default">Reset location</button>
            </div>
          </div>
          <div id="location" class="col-lg-6 col-sm-12 text-center">
          </div>
        </div>
        <div class="row">
          <hr/>
          <div id="googleMap" class="col-lg-12 col-sm-12"></div>
        </div>
      </section>
    </div>

    <!-- Templates -->
    <script id="locationTemplate" type="text/x-handlebars">
      <h4>Estimated location</h4>

      <table id="locationTable" align="center" class="table table-striped empty">
        <tbody>
          <tr>
            <td class="field-name">IP</td>
            <td id="query" class="location-value">{{query}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Country</td>
            <td class="location-value">{{country}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Region</td>
            <td class="location-value">{{regionName}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">City</td>
            <td class="location-value">{{city}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Time Zone</td>
            <td class="location-value">{{timezone}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Latitude</td>
            <td class="location-value">{{lat}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
          <tr>
            <td class="field-name">Longitude</td>
            <td class="location-value">{{lon}}</td>
            <td><button class="help btn btn-xs btn-info">?</button></td>
          </tr>
        </tbody>
      </table>
    </script>

    <script id="messageTemplate" type="text/x-handlebars">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
    </script>

    <!-- JS -->
    <script src="../js/packages/jasmine-2.1.3/jasmine.js"></script>
    <script src="../js/packages/jasmine-2.1.3/jasmine-html.js"></script>
    <script src="../js/packages/jasmine-2.1.3/boot.js"></script>
    <script src="../js/packages/jasmine-2.1.3/mock-ajax.js"></script>
    <script src="../js/packages/jasmine-precondition.js"></script>

    <!-- include source files here... -->
    <script src="../js/packages/jquery-1.11.2.min.js"></script>
    <script src="../js/packages/handlebars-v2.0.0.min.js"></script>
    <script src="../js/packages/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="../js/packages/gmaps.min.js"></script>
    <script src="../js/geolocation.js"></script>

    <!-- include spec files here... -->
    <script src="../../test/spec/TestSpec.js"></script>
  </body>
</html>
