<div ng-class="alert.type" role="alert" ng-show="alert">
    <strong>{{alert.prefix}}</strong> {{alert.text}}
    <span class="pull-right close-alert" ng-click="close()">
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
    </span>
</div>

<ol class="breadcrumb">
    <li><a href = "" ui-sref="login()"><< Back to login</a></li>
</ol>

<div ng-show="!confirm" class="center">
    <h1>Register</h1>
</div>

<div class="center">
    <form>
        <div class="form-group">
            <label>First name <span class="red">*</span></label>
            <input type="text" class="form-control no-border" ng-model="user.name"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control no-border" ng-model="user.surname"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>
        <div class="form-group">
            <label>Username <span class="red">*</span></label>
            <input type="text" class="form-control no-border" ng-model="user.username"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>
        <div class="form-group">
            <label>Email address <span class="red">*</span></label>
            <input type="email" class="form-control no-border" ng-model="user.email"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>
        <div class="form-group">
            <label>Confirm email address <span class="red">*</span></label>
            <input type="email" class="form-control no-border" ng-model="user.emailConfirm"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>
        <div class="form-group">
            <label>Password <span class="red">*</span></label>
            <input type="password" class="form-control no-border" ng-model="user.password"
                   ng-keyup="$event.keyCode == 13 && user.name && user.email && user.emailConfirm &&
                   user.password && user.username? doSignup() : null">
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="doSignup()"
                    ng-disabled="saving||!user.name||!user.email||!user.emailConfirm||!user.password||!user.username">Register</button>
        </div>
    </form>
</div>
